header{
    text-align: center;
    }
h2{
    color:darkolivegreen;
    }
li{
    color: green;

}
div {
    width: 100px;
   padding: 10px;
   border: 2px solid green;
   margin: 5px;
   border-style: groove;
     }
.border, .border th, .border td { 
   border: 2px solid gray; 
   text-align: left; 
}
.no-border{
   text-align: left;
   border: none;
